<section class="card bg-light text-secondary shadow mb-4">
    <summary class="d-flex flex-row flex-wrap card-header bg-info text-light justify-content-between align-items-end">
        <div class="d-flex flex-row flex-wrap flex-fill align-items-end">
            <h4 class="mb-0 mr-2">{{title}}</h4>
            <p class="mb-0 text-right flex-fill">by {{user.name}}, {{format_date date_created}}</p>
        </div>
        <p class="mb-0 align-bottom text-right flex-fill">{{totalComments}} comments</p>
    </summary>
    <article class="card-body">
        <p>{{content}}</p>
    </article>
</section>

{{#if logged_in}}
<section class="card bg-light text-secondary shadow mb-4">
    <article class="card-body">
        <form id="new-comment-form">
            <div class="mb-3">
                <textarea class="form-control" id="comment-box" aria-describedby="new comment" placeholder="Add comment" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </article>
</section>
{{/if}}

<section id="comments">
    {{#each comments}}
    {{> comments}}
    {{/each}}
</section>

<script src="/js/blog.js"></script>